<% include ../partials/boilerplate %>

<div class="edit">
  <form method="POST" action="/hh/<%= hh.id %>?_method=PUT">
    <input type="text" name="name" value="<%= hh.name %>" />
    <input type="text" name="hours" value="<%= hh.hours %>" />
    <input type="text" name="location" value="<%= hh.location %>" />
    <input type="text" name="specials" value="<%= hh.specials %>" />
    <div class="radio">
    </div>
    <input type="submit" value="Edit Venue" />
  </form>
</div>

<% include ../partials/end %>
