<% include ../partials/boilerplate %>

<div class="hh-container">
<% hh.forEach(hh => { %>
<div class="hh">
  <h3><%= hh.name %></h3>
  <div class="meta">
    <div class="hours">
      <p><%= hh.hours %></p>
        <div class="location">
      <h3><%= hh.location %></h3>


      <img src="<%= hh.img %>"/>
    </div>
      </div>
    <div class="edit">
      <a href="/hh/<%= hh.id %>">Details</a>
    </div>
  </div>
</div>
<% }) %>



<% include ../partials/end %>
