

<% include ../partials/boilerplate %>
  <div class="hh">
    <h3><%= hh.name %></h3>
    <p><%= hh.hours %></p>
    <p><%= hh.location %></p>
    <p><%= hh.specials %></p>
<!--     <p><%= hh.img %></p> -->
      <img src="<%= hh.img %>"/>
    <div class="meta">
    </div>
    <div class="links">
      <a href="/<%=hh.id%>/edit">Edit</a>
      <form method="POST" action="/hh/<%=hh.id%>?_method=DELETE">
        <div class="delete">
            <input type="submit" value="Delete" />
        </div>
      </form>
    </div>
  </div>
<% include ../partials/end %>
